<p><a href="{% url 'admin:index' %}">Área do administrador</a></p>
<p><a href="{% url 'admin:biblioteca_pedido_add' %}">Fazer pedido</a></p>
<p><a href="{% url 'admin:auth_user_changelist' %}">Gerenciar Usuários</a></p>
<p><a href="{% url 'admin:biblioteca_livro_changelist' %}">Gerenciar Livros</a></p>
<p><a href="{% url 'admin:biblioteca_audiovisual_changelist' %}">Gerenciar Audiovisual</a></p>
<p><a href="{% url 'admin:biblioteca_revistareferencia_changelist' %}">Gerenciar Revistas e Referências</a></p>
<p><a href="{% url 'admin:biblioteca_emprestimo_changelist' %}">Gerenciar Empréstimos</a></p>
<p><a href="{% url 'admin:biblioteca_reserva_changelist' %}">Gerenciar Reservas</a></p>
<p><a href="{% url 'admin:biblioteca_reclamacao_changelist' %}">Gerenciar Reclamações</a></p>
<p><a href="{% url 'admin:biblioteca_pedido_changelist' %}">Gerenciar Pedidos</a></p>
