{% extends "base.html" %}
{% load has_group %}

{% block title %}
  {{ block.super }} - Index
{% endblock %}

{% block content %}
  <h1>Bem-vindo à Biblioteca ES</h1>
  
  {% if request.user|has_group:"bibliotecario" %}
    {% include "index/bibliotecario.html" %}
  {% elif request.user|has_group:"fornecedor" %}
    {% include "index/fornecedor.html" %}
  {% elif request.user|has_group:"leitor" %}
    {% include "index/leitor.html" %}
  {% else %}
    <p>Nenhum grupo previsto</p>
  {% endif %}

  <p><a href="{% url 'materials' %}">Buscar materiais</a></p>
{% endblock %}
