{% extends "base.html" %}

{% block title %}
  {{ block.super }} - Detalhes {{ object.nome }}
{% endblock %}

{% block content %}
  {% if errors %}
    <ul>
    {% for e in errors %}
      <li>{{ e }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <h1>{{ object.nome }}</h1>
  <p>Data de Publicação: {{ object.data_publicacao }}</p>
  <p>Descrição: {{ object.descricao }}</p>
  {% if object.livro %}
    <p>ISBN10: {{ object.livro.isbn10 }}</p>
    <p>ISBN13: {{ object.livro.isbn13 }}</p>
  {% endif %}
  
  <p>Quantidade na biblioteca: {{ object.quantidade }}</p>
  
  <a href="{% url 'emprestar' object.id %}">Emprestar</a>
{% endblock %}
