{% extends "base.html" %}

{% block title %}
  {{ block.super }} - Listar Livros
{% endblock %}

{% block content %}
  <h1>Lista de materiais</h1>
  
  <form action="." method="post">
    {% csrf_token %}
    <p>Busca: <input type="text" name="material"></p>
    <input type="submit" value="busca">
  </form>

  <ul>
  {% for o in objects %}
    <li>
      <a href="{% url 'material' o.id %}">{{ o.nome }}</a>
    </li>
  {% empty %}
    <p>Não possui nenhum material</p>
  {% endfor %}
  </ul>
{% endblock %}
